<%- include("templates/header") %>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/courseDetail.css">
  <main class="light-2" role="main">
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>
              <%= course.title %>
            </h1>
            <% const courseTags=course.tags ? course.tags.split(",") : []; %>
              <% if (courseTags.length> 0) { %>
                <% const tag=courseTags[0].trim().toLowerCase(); %>
                  <% if (tag==='ai' ) { %>
                    <img src="/images/AI.jpg" class="img-fluid" alt="Course Image">
                    <% } else if (tag==='data science' ) { %>
                      <img src="/images/datascience.jpg" class="img-fluid" alt="Course Image">
                      <% } else if (tag==='python' ) { %>
                        <img src="/images/python.jpg" class="img-fluid" alt="Course Image">
                        <% } else { %>
                          <img src="/images/course.jpg" class="img-fluid" alt="Course Image">
                          <% } %>
                            <% } else { %>
                              <img src="/images/course.jpg" class="img-fluid" alt="Course Image">
                              <% } %>
                                <h2 class="mt-4">Course Overview</h2>
                                <p>
                                  <%= course.description %>
                                </p>
                                <% if (course.tags) { const tags=course.tags.split(","); let factsCounter=1; %>
                                  <ul class="courses_tags_list mb-3">
                                    <% tags.forEach((tag)=> { %>
                                      <li class="facts-<%= factsCounter %>">
                                        <%= tag.trim() %>
                                      </li>
                                      <% factsCounter++; %>
                                        <% }) %>
                                  </ul>
                                  <% } %>
                                    <a data="<%= course._id %>" class="btn_save" onclick="saveCourse()">Save</a>
                                    <a class="btn_start_learning" href="<%=course.link %>" target="_blank">
                                      Start Learning</a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/courseDetail.js"></script>
  <%- include("templates/footer") %>