<%- include("templates/header") %>
  <div class="row">
    <div class="col-12">
      <h1 class="mt-4">
        <%= course.title %>
      </h1>
      <img src="/images/course1.jpg" class="img-fluid" alt="Course Image">
      <h2 class="mt-4">Course Overview</h2>
      <p>
        <%= course.description %>
      </p>
      <h3>Tags</h3>
      <% if (course.tags) { const tags=course.tags.split(","); %>
        <ul class="list-inline">
          <% tags.forEach((tag)=> { %>
            <li class="list-inline-item btn btn-primary bg-transparent text-dark mb-2">
              <%= tag.trim() %>
            </li>
            <% }) %>
        </ul>
        <% } %>
          <button id="saveCourse" class="btn btn-primary" onclick="saveCourse('<%= course._id %>')">Save</button>
          <a class="btn btn-success" href="<%=course.link %>" target="_blank">
            Start Learning</a>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <%- include("templates/footer") %>