<link rel="stylesheet" href="/css/profile.css">
<%- include("templates/header") %>
    <main role="main">
        <!-- All profiles -->
        <section>
            <div class="container">
                <div class="col-lg-12 col-md-12 mb-3">
                    <div>
                        <div class="sec-left">
                            <span class="material-icons-outlined" style="vertical-align: middle;" onclick="goBack()">arrow_back</span>
                            <h3 style="display: inline-block; margin-left: 5px; vertical-align: middle;">Edit Profile</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <form id="profile-form" action="/submitProfile" method="POST" enctype="multipart/form-data"></form>
                <!-- Basic profile -->
                <div class="d-flex flex-row">
                    <div class="mt-auto mb-auto d-flex flex-column" style="width: 35%;">
                        <input style="display: none;" type="file" id="image-input" accept="image/*" name="image"
                            onchange="displayImage(this)">
                        <label for="image-input" class="image-label">
                            <img id="profile-image" src="<%= image || '/images/profile/default.png' %>"
                                alt="Profile Image" class="img-fluid img-thumbnail" style="width: 150px; z-index: 1;">
                        </label>
                    </div>
                    <div class="mt-auto mb-auto d-flex flex-column"
                        style="font-size: small; margin-top: auto; margin-bottom: auto; width: 60%; padding: 10px;">
                        <label class="labels" for="name-input">ID</label>
                        <input class="form-control form-control-sm" id="name-input" name="name"
                            type="text" class="form-control" value="<%=username%>">
                        <label class="labels" for="name-input">First Name</label>
                        <input class="form-control form-control-sm" id="firstName-input"
                            name="firstName" type="text" class="form-control" value="<%=firstName%>">
                        <label class="labels" for="name-input">Last Name</label>
                        <input class="form-control form-control-sm" id="lastName-input"
                            name="lastName" type="text" class="form-control" value="<%=lastName%>">
                        <label class="labels" for="job-input">Job</label>
                        <input class="form-control form-control-sm" id="job-input" name="job"
                            type="text" class="form-control" placeholder="enter your job" value="<%=job%>">
                        <label class="labels" for="job-input">Email</label>
                        <input class="form-control form-control-sm" id="email-input" name="email"
                            type="text" class="form-control" value="<%=email%>">
                    </div>
                    <div class="mt-auto d-flex flex-column">
                        <p id="save-button" style="font-size: 20px; color: #B4CDED;" class="material-icons-outlined"
                            onclick="window.location.href='/profile'" type="submit">save
                        </p>
                        <!-- <button onclick="window.location.href='/profile'" id="save-button"
                    class="btn btn-sm btn-dark profile-button" type="submit"
                    style="font-size: 15px; float: right; top:310px; right: 10px;">Save</button> -->
                    </div>
                </div>
                <!-- Basic profile end -->
                </form>
            </div>
        </section>
        <section class="light-2">
            <!-- Skills&interests -->
            <div class="container">
                <!-- Skills section -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-12">
                        <div class="box mb-15 profile_grid">
                            <div class="profile_body">
                                <h3 class="lead fw-normal mb-1" style="font-weight: 400;">Skills</h3>
                                <div class="p-4" style="background-color: #ffffff; border-radius: 10px;">
                                    <ul class="courses_tags_list">
                                        <% if (skills && skills.length> 0) { %>
                                            <% skills.forEach(function(skill) { %>
                                                <li class="facts-2 mt-1">
                                                    <%= skill %>
                                                </li>

                                                <% }); %>
                                                    <% } else { %>
                                                        <p class="text-muted"
                                                            style="text-align: center; font-weight:normal; margin: 0;">
                                                            Update your skills!</p>
                                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Skills section end -->

                        <!-- Interests section -->
                        <div class="col-xl-12 col-lg-12 col-12">
                            <div class="box mb-15 profile_grid">
                                <h3 class="lead fw-normal mb-1" style="font-weight: 400;">Interests</h3>
                                <div class="p-4" style="background-color: #ffffff; border-radius: 10px;">
                                    <% if (interests && interests.length> 0) { %>
                                        <ul class="courses_tags_list">
                                            <% interests.forEach(function(interest) { %>
                                                <li class="facts-3 mt-1">
                                                    <%= interest %>
                                                </li>
                                                <% }); %>
                                        </ul>
                                        <% } else { %>
                                            <p class="text-muted"
                                                style="text-align: center; font-weight:normal;margin: 0;">Update your
                                                interests!</p>
                                            <% } %>
                                </div>
                            </div>
                        </div>

                        <!-- Edit skills&interests -->
                        <div class="d-flex justify-content-center align-items-center mb-4">
                            <div class="col-6 mb-2 d-flex align-items-center flex-column justify-content-center"
                                style="border: 1px solid #ccc; border-radius: 10px; padding: 10px; background-color: #ffffff;">
                                <span id="go-skill"
                                    style="font-size: 40px; float: right; line-height:20px; margin: 20px; color: #B4CDED"
                                    class="material-icons-outlined">
                                    computer
                                </span>
                                <p style="font-size:1rem" class="text-center mt-2">Skills</p>
                            </div>
                            <div class="col-6 mb-2 d-flex align-items-center flex-column justify-content-center"
                                style="border: 1px solid #ccc; border-radius: 10px; padding: 10px; background-color: #ffffff;">
                                <span id="go-interest"
                                    style="font-size: 40px; float: right; line-height:20px; margin: 20px; color: #B4CDED;"
                                    class="material-icons-outlined">
                                    menu_book
                                </span>
                                <p style="font-size:1rem" class="text-center mt-2">Interests</p>
                            </div>
                        </div>
                        <!-- Edit skills&interests end -->
                    </div>

                </div>
                <!-- Interests section end -->
            </div>
            <!-- Skills&interests end -->
        </section>
    </main>
    <!-- Function section -->
    <!-- script -->
    <script>

        //Funtion that updates the displayed image when a new file is selected.
        function displayImage(input) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    const profileImage = document.getElementById('profile-image');
                    profileImage.setAttribute('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        // Get the form and save button elements
        const form = document.getElementById('profile-form');
        const saveButton = document.getElementById('save-button');

        // Add event listener for form submission
        form.addEventListener('submit', (event) => {
            event.preventDefault();

            // Get values from form inputs
            const name = form.name.value;
            const job = form.job.value;
            const email = form.email.value;
            const firstName = form.firstName.value;
            const lastName = form.lastName.value;
            const imageInput = form.image.files[0];

            // Create a FormData object to send the form data including the image
            const formData = new FormData();
            formData.append('name', name);
            formData.append('job', job);
            formData.append('email', email);
            formData.append('firstName', firstName);
            formData.append('lastName', lastName);
            formData.append('image', imageInput);

            // Send a POST request with the form data
            fetch('/submitProfile', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (response.ok) {

                        // Redirect to the profile page on successful update
                        window.location.href = '/profile';
                    } else {
                        throw new Error('Failed to update user profile');
                    }
                })
                .catch(error => {
                    console.error(error);

                });
        });
    </script>

    <%- include("templates/footer") %>