<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/profile.css">
<%- include("templates/header") %>
  <main role="main">
    <!-- All profiles -->
    <section>
      <div class="container">
          <!-- Basic profile -->
          <div class="d-flex flex-row">
            <div class="mt-auto mb-auto d-flex flex-column" style="width: 35%;">
              <img src="<%= image || '/images/profile/default.png' %>" alt="Profile Image"
                class="img-fluid img-thumbnail" style="width: 130px; z-index: 1;">
            </div>
            <div class="mt-auto mb-auto d-flex flex-column" style="font-size: small; margin-top: auto; margin-bottom: auto; width: 60%; padding: 10px;">
              <h5 style="margin-bottom: 10px; font-weight: 700;">
                <%= username %>
              </h5>
              <h6 style="margin-bottom: 5px; font-weight: 400;">Name: <%= firstName %>
                  <%= lastName %>
              </h6>
              <h6 style="margin-bottom: 5px; font-weight: 400;">Job: <%= job %>
              </h6>
              <h6 style="margin-bottom: 0; font-weight: 400;">Email: <%= email %>
              </h6>
            </div>
            <div class="mt-auto d-flex flex-column">
              <p id="edit-icon" style="font-size: 20px;"
              class="material-icons">edit</p>
            </div>
          </div>
          <!-- Basic profile end -->
    </section>
    <section class="light-2">
      <!-- Skills&interests -->
      <div class="container">
        <!-- Skills section -->
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-12">
            <div class="box mb-15 profile_grid">
              <div class="profile_body">
                <h3 class="lead fw-normal mb-1" style="font-weight: 400;">Skills</h3>
                <div class="p-4" style="background-color: #ffffff; border-radius: 10px;">
                    <ul class="courses_tags_list">
                      <% if (skills && skills.length> 0) { %>
                        <% skills.forEach(function(skill) { %>
                          <li class="facts-default">
                            <%= skill %>
                          </li>

                          <% }); %>
                            <% } else { %>
                              <p style="text-align: center; font-weight:normal; color: #da0b4e; margin: 0;">Update your skills!</p>
                              <% } %>
                    </ul>
                </div>
              </div>
          </div>
          <!-- Skills section end -->

          <!-- Interests section -->
          <div class="col-xl-12 col-lg-12 col-12">
            <div class="box mb-15 profile_grid">
              <h3 class="lead fw-normal mb-1" style="font-weight: 400;">Interests</h3>
              <div class="p-4" style="background-color: #ffffff; border-radius: 10px;">
                <% if (interests && interests.length> 0) { %>
                  <ul class="courses_tags_list">
                  <% interests.forEach(function(interest) { %>
                    <li class="facts-default">
                      <%= interest %>
                    </li>
                    <% }); %>
                  </ul>
                      <% } else { %>
                        <p style="text-align: center; font-weight:normal; color: #da0b4e; margin: 0;">Update your interests!</p>
                        <% } %>
              </div>
            </div>
          </div>

          <!-- Edit skills&interests -->
      <div class="d-flex justify-content-center align-items-center mb-4">
        <div class="col-6 mb-2 d-flex align-items-center flex-column justify-content-center"
          style="border: 1px solid #ccc; border-radius: 10px; padding: 10px; background-color: #ffffff;">
          <span id="go-skill" style="font-size: 40px; float: right; line-height:20px; margin: 20px;"
            class="material-icons">
            computer
          </span>
          <p style="font-size:1rem" class="text-center mt-2">Skills</p>
        </div>
        <div class="col-6 mb-2 d-flex align-items-center flex-column justify-content-center"
          style="border: 1px solid #ccc; border-radius: 10px; padding: 10px; background-color: #ffffff;">
          <span id="go-interest" style="font-size: 40px; float: right; line-height:20px; margin: 20px;"
            class="material-icons">
            menu_book
          </span>
          <p style="font-size:1rem" class="text-center mt-2">Interests</p>
        </div>
      </div>
      <!-- Edit skills&interests end -->

      <!-- Log out -->
       <div class="btn_log_out" onclick="window.location.href='/logout'"><i class="ti-control-skip-forward mr-2"></i>Log
        out
                  </div>
      <!-- <button onclick="window.location.href='/logout'" class="btn btn-sm btn-dark profile-button" type="button"
        style="border-radius: 10px; align-items: center; width: 100%; margin-bottom: 100px;">Log
        out</button> -->
      <!-- Log out end -->
      </div>

        </div>
        <!-- Interests section end -->
      </div>
      <!-- Skills&interests end -->
    </section>
  </main>
  <!-- Function section -->
  <script>
    
    //Link to the editProfile page when click the edit icon
    const editIcon = document.querySelector("#edit-icon");
    editIcon.addEventListener("click", () => {
      window.location.href = "/editProfile";
    });

    //Link to the editSkill page when click the laptop icon
    const goSkill = document.querySelector("#go-skill");
    goSkill.addEventListener("click", () => {
      window.location.href = "/editSkill";
    });

    //Link to the editInterest page when click the book icon
    const goInterest = document.querySelector("#go-interest");
    goInterest.addEventListener("click", () => {
      window.location.href = "/editInterest";
    });
  </script>

  <%- include("templates/footer") %>