<link rel="stylesheet" href="/css/myCourses.css">
<%- include("templates/header") %>
<main role="main">
  <section>
      <div class="container">
        <div class="col-lg-12 col-md-12 mb-3">
          <div>
            <div class="sec-left mb-3">
              <span class="material-icons-outlined" style="vertical-align: middle;" onclick="goBack()">arrow_back</span>
              <h3 id="recommendationHeading" style="display: inline-block; margin-left: 5px; vertical-align: middle;">Recommendation for <%= username %></h3>
            </div>
          </div>
        </div>
      </div>
    </section>
  <section class="light-2">
    <div class="container">
      <% if (!recommendedCourses || recommendedCourses.length === 0) { %>
      <div class="row">
        <div class="col-12">
          <p>No recommended courses found.</p>
        </div>
      </div>
      <% } else { %>
      <div class="row" id="courseList">
        <% recommendedCourses.forEach((course, index) => { %>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" style="margin-top: 10px;">
          <div class="box mb-15 my_courses_grid">
            <div class="my_courses_body">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="d-flex flex-column fw-500">
                    <h4 class="bl-title">
                      <a href="/courseDetail/<%= course._id %>"><%= course.title %></a>
                    </h4>
                    <span class="text-fade"><%= course.instructor %></span>
                  </div>
                </div>
                <a href="<%= course.link %>">
                  <i class="fa-solid fa-arrow-right"></i><span class="path1"></span><span class="path2"></span>
                </a>
              </div>
              <p style="font-size: smaller;"><%= course.description %></p>
            </div>
          </div>
          <% if ((index + 1) % 3 === 0) { %>
          <div class="clearfix"></div>
          <% } %>
        </div>
        <% }) %>
      </div>
      <% } %>

      <% if (recommendedCourses && recommendedCourses.length > 0) { %>
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <button class="btn btn-primary" id="generateMore">Generate More</button>
        </div>
      </div>
      <% } %>
    </div>
  </section>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function () {

  // Get references to the relevant elements
  var generateMoreButton = $('#generateMore');
  var recommendationHeading = $('#recommendationHeading');
  var courseList = $('#courseList');

  // Event listener for the 'generateMore' button click
  $(document).on('click', '#generateMore', function () {

  
    // Store a reference to the 'generateMore' button
    var generateMoreButton = $(this);

    // Send a GET request to the '/generateMore' endpoint
    $.get('/generateMore', function (data) {

      // Check if additional recommended courses are returned
      if (data.additionalRecommendedCourses && data.additionalRecommendedCourses.length > 0) {

        // Get the first 5 courses to add
        var coursesToAdd = data.additionalRecommendedCourses.slice(0, 5);

        // Iterate over the courses to add
        coursesToAdd.forEach(function (course, index) {

          // Generate HTML for the course item
          var courseHtml = `
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" style="margin-top: 10px;">
              <div class="box mb-15 my_courses_grid">
                <div class="my_courses_body">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="d-flex flex-column fw-500">
                        <h4 class="bl-title"><a href="/courseDetail/${course.courseId}">${course.title}</a></h4>
                        <p style="font-size: smaller;">${course.description}</p>
                      </div>
                    </div>
                    <a href="${course.link}">
                      <i class="fa-solid fa-arrow-right"></i><span class="path1"></span><span class="path2"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          `;

          // Append the course HTML to the course list
          courseList.append(courseHtml);
        });

        // Check if there are fewer than 5 courses to add
        if (coursesToAdd.length < 5) {
          // Remove the 'generateMore' button and hide the recommendation heading
          generateMoreButton.remove();
          recommendationHeading.hide();
        }
      } else {
        // Log a message if no additional recommended courses are found
        console.log("No additional recommended courses found.");
        generateMoreButton.remove();
        recommendationHeading.hide();
      }
    });
  });

  // Check if there are no '.col-xl-4' elements within '.row'
  if (!$('.row').find('.col-xl-4').length) {
    // Hide the 'generateMore' button and recommendation heading
    generateMoreButton.hide();
    recommendationHeading.hide();
  } else {
    // Check if there are 5 or fewer courses initially
    if ($('.row').find('.col-xl-4').length < 5) {
      // Hide the 'generateMore' button.
      generateMoreButton.hide();
    }
  }
});
</script>

<%- include("templates/footer") %>