<link rel="stylesheet" href="/css/common.css">
<%- include("templates/header") %>
  <main role="main">
    <section>
      <div class="container">
        <div class="search-wrapper d-flex flex-column gap-2 mb-2">
          <form id="search-form" action="/search" method="GET">
            <label for="search"></label>
            <input type="search" id="search" name="search" class="form-control" placeholder="Search..."
              value="<%= searchQuery %>">
          </form>
        </div>

        <!-- Popular Tags -->
        <div class="popular-tags popular ">
          <h3 class="mb-3">What's Popular</h3>
          <div class="tag-list">
            <button class="btn btn-outline-info text-dark mb-1" onclick="populateSearch('AI')">AI</button>
            <button class="btn btn-outline-info text-dark mb-1" onclick="populateSearch('Python')">Python</button>
            <button class="btn btn-outline-info text-dark mb-1" onclick="populateSearch('Data Science')">Data
              Science</button>
            <button class="btn btn-outline-info text-dark mb-1" onclick="populateSearch('R')">R</button>
          </div>
        </div>

      </div>
    </section>
    <section id="search-section" class="light-2">
      <div class="container">
        <!-- Display search results -->
        <% courses.forEach((course)=> {
          const url = new URL(course.link);
          const domain = url.origin;
          %>
          <a href="/courseDetail/<%= course._id %>" class="text-decoration-none">
            <div class="search-results">
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-sm-1 col-3">
                    <% if (domain=="https://www.datacamp.com" ) { %>
                      <img src="/images/datacamp.png" alt="DataCamp logo" class="rounded img-fluid">
                      <% } else if (domain=="https://www.udemy.com" ) { %>
                        <img src="/images/udemy.png" alt="Udemy logo" class="rounded img-fluid">
                        <% } else { %>
                          <img src="/images/default_search_logo.png" alt="Default logo" class="rounded img-fluid">
                          <% } %>
                  </div>
                  <div class="col-sm-11 col-9">
                    <div class="card-body">
                      <h6 class="card-title">
                        <%= course.title %>
                      </h6>
                      <% if (course.tags) { const tags=course.tags.split(","); let factsCounter=1; %>
                        <ul class="courses_tags_list">
                          <% tags.forEach((tag)=> { %>
                            <li class="facts-<%= factsCounter %>">
                              <%= tag.trim() %>
                            </li>
                            <% factsCounter++; %>
                              <% }) %>
                        </ul>
                        <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <% }); %>
            <% if (page> 1 || page < totalPages) { %>
                <div class="text-center">
                  <div class="btn-group" role="group">
                    <% if (page> 1) { %>
                      <button class="btn btn-primary" onclick="goToPage(<%= page - 1 %>)">Previous Page</button>
                      <% } %>
                        <% if (page < totalPages) { %>
                          <button class="btn btn-primary" onclick="goToPage(<%= page + 1 %>)">Next Page</button>
                          <% } %>
                  </div>
                </div>
                <% } %>
      </div>
    </section>
  </main>

  <script src="/js/search.js"></script>
  <%- include("templates/footer") %>