<%- include("templates/header") %>
  <main role="main">
    <section>
      <div class="container">
        <div class="col-lg-12 col-md-12 mb-3">
          <div>
            <div class="sec-left">
              <h3>Search</h3>
            </div>
            <div class="search-wrapper d-flex flex-column gap-2 mb-2">
              <form id="search-form" action="/search" method="GET">
                <label for="search"></label>
                <input type="search" id="search" name="search" class="form-control" placeholder="Search..."
                  value="<%= searchQuery %>">
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <!-- Popular Tags -->
        <div class="popular-tags popular ">
          <h3 class="mb-3">What's Popular</h3>
          <div>
            <ul class="courses_tags_list">
              <li class="facts-3" onclick="populateSearch('AI')">AI</li>
              <li class="facts-2" onclick="populateSearch('Python')">Python</li>
              <li class="facts-1" onclick="populateSearch('Data Science')">Data Science</li>
              <li class="facts-4" onclick="populateSearch('R')">R</li>
            </ul>
        </div>
        
      </div>
    </section>
    <!-- Display search results -->
    <section class="light-2">
      <% if (courses && courses.length> 0) { %>
      <% courses.forEach((course)=> {
        const url = new URL(course.link);
        const domain = url.origin;
        %>
        <div class="container">
          <a href="/courseDetail/<%= course._id %>" class="text-decoration-none">
            <div class="search-results">
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-2 col-md-1">
                    <% if (domain=="https://www.datacamp.com" ) { %>
                      <img src="/images/datacamp.png" alt="placeholder image" class="rounded img-fluid">
                      <% } else if (domain=="https://www.udemy.com" ) { %>
                        <img src="/images/udemy.png" alt="placeholder image" class="rounded img-fluid">
                        <% } else { %>
                          <img src="/images/default_logo.png" alt="placeholder image" class="rounded img-fluid">
                          <% } %>
                  </div>
                  <div class="col-10 col-md-11">
                    <div class="card-body">
                      <h6 class="card-title">
                        <%= course.title %>
                      </h6>
                      <% if (course.tags) { const tags=course.tags.split(","); %>
                        <ul class="courses_tags_list">
                          <% tags.forEach((tag)=> { %>
                            <li class="facts-default mt-1">
                              <%= tag.trim() %>
                            </li>
                            <% }) %>
                        </ul>
                        <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <% }); %>
        <% } else { %>
          <p class="text-muted" style="text-align: center; font-weight:normal;">No courses found</p>
        <% } %>
    </section>
  </main>
  <%- include("templates/footer") %>
    <script>
      function populateSearch(tag) {
        const searchInput = document.getElementById('search');
        searchInput.value = tag;
        const searchForm = document.getElementById('search-form');
        searchForm.submit();
      }
    </script>